@import "react-alice-carousel/lib/alice-carousel.css";
.thirdpage-wrapper{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fdfbf4;  
}
.destiny{
    font-size: 45px;
    margin-left: 65px;
}

.carousel{
    height: 450px !important;
    padding: 0 5rem !important; 
    margin: 0 !important;
}

.card{
    border-radius: 15px;
}

.college-names{
    padding: 0.5rem;
    font-size: 20px;
    font-weight: bold;
}

.location{
    padding: 0.3rem;
}